.optionItem {
    display: flex !important;
    padding: 4px 4px 4px 16px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 32px !important;
    min-height: 48px !important;
}
.optionIcon {
    min-width: 24px !important;
    max-width: 24px !important;
    fill: var(--svg-icon-color) !important;
}
.selectedOption {
    display: flex !important;
    align-items: center !important;
    gap: 8px !important;
}
