.controlLabel {
    margin-left: 0px !important;
    margin-right: 0px !important;
    &:hover {
        background-color: #f5f5f5 !important;
    }
}
.controlLabelSelected {
    margin-left: 0px !important;
    margin-right: 0px !important;
    &:hover {
        background-color: #f5f5f5 !important;
    }
    .icon {
        fill: var(--selected-color) !important;
    }
}
.disabled {
    color: #b3b3b3 !important;
    .icon {
        fill: #b3b3b3 !important;
    }
}
.icon {
    fill: var(--svg-icon-color) !important;
}
.checkbox {
    display: flex !important;
    margin-right: 6px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px !important;
}
.titleItem {
    padding: 5px 4px 5px 16px !important;
    gap: 24px !important;
    &:hover {
        background-color: transparent !important;
    }
}
.titleText {
    color: var(--text-secondary) !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.address {
    color: var(--text-primary) !important;
    font-size: 20px !important;
    font-weight: 500 !important;
}
.currentDate {
    color: var(--text-secondary) !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.headerForecastData {
    color: var(--text-primary) !important;
    text-align: right !important;
    font-size: 30px !important;
    font-weight: 400 !important;
    margin-right: 4px !important;
}
.headerForecastUnit {
    color: var(--text-secondary) !important;
    text-align: right !important;
    font-size: 30px !important;
    font-weight: 400 !important;
}
.topContainer {
    max-height: 45px !important;
    display: flex !important;
    padding: 27px 16px !important;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 24px !important;
}
.dayItem {
    display: flex !important;
    min-width: 45px !important;
    padding: 6px 3px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 6px !important;
    border: 1px solid #cccccc !important;
    &:hover {
        border: 2px solid var(--selected-color) !important;
        background-color: #deebff !important;
    }
}
.dayItemDay {
    color: var(--text-secondary) !important;
    text-align: center !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.dayItemNum {
    color: #237bff !important;
    text-align: center !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.dayCarousel {
    padding: 0px 16px !important;
    align-items: center !important;
    gap: 8px !important;
    align-self: stretch !important;
    display: flex !important;
    max-width: 350px !important;
    overflow-x: hidden !important;
}
.selectedItemDay {
    display: flex !important;
    min-width: 45px !important;
    padding: 6px 3px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 6px !important;
    border: 2px solid var(--selected-color) !important;
}
.weatherInfoBlock {
    display: flex !important;
    width: 360px !important;
    padding: 0px 16px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 32px !important;
}
.weatherInfo {
    color: var(--text-secondary) !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.forecastItem {
    display: flex !important;
    width: 360px !important;
    min-height: 48px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 24px !important;
}
.forecastTableDivider {
    margin-left: 64px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
.forecastData {
    color: var(--text-primary) !important;
    text-align: right !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    margin-right: 4px !important;
}
.forecastUnit {
    color: var(--text-secondary) !important;
    text-align: right !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}
.forecastIcon {
    min-width: 24px !important;
    max-width: 24px !important;
    fill: var(--svg-icon-color) !important;
}
.forecastButtonItem {
    height: 36px !important;
    min-width: 48px !important;
    max-width: 48px !important;
    padding: 0px 12px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 6px !important;
    border-radius: 40px !important;
    border: 1px solid #cccccc !important;
}
.forecastButtonItemSelected {
    height: 36px !important;
    min-width: 48px !important;
    max-width: 48px !important;
    padding: 0px 11px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 6px !important;
    border-radius: 40px !important;
    border: 2px solid #237bff !important;
}
.forecastButtonItemIcon {
    .icon {
        fill: #237bff !important;
    }
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-width: 24px !important;
    max-width: 24px !important;
}
.forecastButtonItemIconSelected {
    .icon {
        fill: #212121 !important;
    }
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-width: 24px !important;
    max-width: 24px !important;
}
.forecastButtonBox {
    display: flex !important;
    padding: 0px 16px 12px 16px !important;
    align-items: center !important;
    gap: 8px !important;
    align-self: stretch !important;
}
.weekItemDataDay {
    color: var(--text-primary) !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}
.weekItemData {
    color: var(--text-secondary) !important;
    font-size: 12px !important;
    font-weight: 400 !important;
}
.weekItemDay {
    color: #212121 !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}
.weekItemNight {
    margin-left: 4px !important;
    color: #737d8c !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}
.weekItemUnit {
    margin-left: 4px !important;
    color: #737d8c !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}
.forecastDetailsDivider {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    margin-left: 16px !important;
}
