.innerTitleItem {
    width: 360px !important;
    padding: 10px 16px !important;
    gap: 24px !important;
    min-height: 48px !important;
    max-height: 48px !important;
}
.innerTitleText {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: var(--text-primary) !important;
}
.icon {
    fill: var(--svg-icon-color) !important;
    padding: 8px;
    &:hover {
        fill: var(--selected-color) !important;
        background-color: #f5f5f5 !important;
    }
}
.scrollMainBlock {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}
.scrollActiveBlock {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
