.menuItemClose {
    &:hover {
        background-color: var(--background-color-menu) !important;
        box-shadow: none !important;
    }
}
.menuItemOpen {
    &:hover {
        color: var(--selected-color) !important;
        background-color: var(--background-color-menu) !important;
        .customIconPath {
            fill: var(--selected-color) !important;
        }
    }
}
.menuItemSelected {
    background-color: #f5f5f5 !important;
    &:hover {
        color: var(--selected-color) !important;
        background-color: #f5f5f5 !important;
    }
    .customIconPath {
        fill: var(--selected-color) !important;
    }
    .profileIcon {
        fill: var(--selected-color) !important;
    }
}
.menuIconClose {
    &:hover {
        border-radius: 3px;
        .customIconPath {
            fill: var(--selected-color) !important;
        }
    }
}
.profileButton {
    min-height: var(--profile-menu-button-height) !important;
    max-height: var(--profile-menu-button-height) !important;
    &:hover {
        background-color: transparent !important;
    }
}
.profileIcon {
    min-width: 24px !important;
    max-width: 24px !important;
    fill: var(--svg-icon-color) !important;
    &:hover {
        fill: var(--selected-color) !important;
    }
}
.profileLogin {
    width: 95%;
    word-wrap: break-word;
    display: block !important;
    text-align: left;
    text-transform: none !important;
}
.menu {
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: var(--menu-button-height);
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
}
.menuButton {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--background-color-menu);
}
.customIconPath {
    fill: var(--svg-icon-color) !important;
}
.dotMenu {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #f8931d;
}
