.appbar {
    background: #ffffff !important;
}
.toolbar {
    min-height: 40px !important;
    padding: 8px !important;
}
.icon {
    fill: var(--svg-icon-color) !important;
    min-width: 24px !important;
    max-width: 24px !important;
    &:hover {
        fill: var(--selected-color) !important;
        background-color: #f5f5f5 !important;
    }
}
.visibleIcon {
    fill: var(--selected-color) !important;
    min-width: 24px !important;
    max-width: 24px !important;
}
.sortIcon {
    fill: var(--svg-icon-color) !important;
    padding: 8px;
    &:hover {
        fill: var(--selected-color) !important;
        background-color: #f5f5f5 !important;
    }
}
.appBarIcon {
    fill: var(--svg-icon-color) !important;
    padding: 8px;
    &:hover {
        fill: var(--selected-color) !important;
        background-color: #f5f5f5 !important;
    }
}
.title {
    flex-grow: 1;
    color: var(--text-primary) !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    letter-spacing: 0.18px !important;
    margin-left: 16px !important;
    margin-right: 16px !important;
}
.sortText {
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 150% !important;
    letter-spacing: 0.16px !important;
}
.sortItem {
    align-items: center !important;
    gap: 20px !important;
}
.group {
    min-height: var(--menu-item-size) !important;
    width: 360px !important;
    padding: 10px 16px !important;
    gap: 24px !important;
}
.action {
    padding: 10px 16px !important;
    gap: 20px !important;
}
.iconAction {
    min-width: 24px !important;
    fill: var(--svg-icon-color) !important;
    &:hover {
        fill: var(--selected-color) !important;
        background-color: #f5f5f5 !important;
    }
}
.groupName {
    color: var(--text-primary) !important;
}
.actionName {
    color: var(--text-primary) !important;
}
.groupInfo {
    color: var(--text-secondary) !important;
}
.favLocationInfo {
    margin-left: 5px !important;
}
.item {
    min-height: var(--menu-item-size) !important;
    width: 360px !important;
    padding: 10px 16px !important;
    gap: 24px !important;
}
.actions {
    padding: 6px 0px !important;
    border-radius: 3px !important;
    min-height: 44px !important;
    box-shadow:
        0px 5px 5px 0px rgba(0, 0, 0, 0.2),
        0px 3px 14px 0px rgba(0, 0, 0, 0.12),
        0px 8px 10px 0px rgba(0, 0, 0, 0.14),
        0px -3px 30px 0px rgba(0, 0, 0, 0.09) !important;
}
.control {
    display: flex !important;
    padding: 14px !important;
    align-items: flex-start !important;
    gap: 10px !important;
    margin-left: -10px !important;
}
.dividerActions {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: flex-start !important;
    align-self: stretch !important;
    margin-bottom: 6px !important;
    margin-top: 6px !important;
}
.controlLabel {
    margin-left: 0px !important;
    margin-right: 0px !important;
    &:hover {
        background-color: #f5f5f5 !important;
    }
}
.dividerItem {
    margin-left: 64px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
.container {
    position: relative;
}

.menuButtonContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 78px;
}
