.tagItem {
    display: flex !important;
    width: 360px !important;
    min-height: 48px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 24px !important;
}
.tagList {
    display: flex !important;
    width: 360px !important;
    min-height: 48px !important;
    margin-left: 5px !important;
}
.tagIcon {
    min-width: 24px !important;
    max-width: 24px !important;
    fill: var(--svg-icon-color) !important;
}
.tagName {
    color: var(--text-primary) !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 150% !important;
}
.tagValue {
    color: var(--text-secondary) !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 150% !important;
    margin-right: 5px !important;
    &:hover {
        color: var(--selected-color) !important;
    }
}
.tagPrefix {
    color: var(--text-secondary) !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 150% !important;
}

.openingHoursOpenIcon {
    min-width: 16px !important;
    max-width: 16px !important;
    fill: #51a014 !important;
}

.openingHoursClosedIcon {
    min-width: 16px !important;
    max-width: 16px !important;
    fill: #e71d36 !important;
}
.openingHoursOpenText {
    color: #51a014 !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 140% !important;
    padding-left: 6px !important;
}

.openingHoursClosedText {
    color: #e71d36 !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 140% !important;
    padding-left: 6px !important;
}

.directionIcon {
    width: 16px !important;
    height: 16px !important;
    flex-shrink: 0 !important;
    margin-right: 5px !important;
}

.placeDistance {
    font-family: Roboto !important;
    color: #727272;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 140% !important;
}

.placeAddress {
    font-family: Roboto !important;
    color: #727272;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 140% !important;
    display: inline-block !important;
    padding-left: 22px !important;
    text-indent: -22px !important;
}
