.tabPanelsRoot {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
}

.contentScroller {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.mainTabs {
    margin-left: 16px;
    margin-right: 16px;
}

.mainTabs :global(.MuiTabScrollButton-root) {
    min-width: 20px !important;
    max-width: 20px !important;
}

.mainTabs :global(.MuiButtonBase-root.MuiTab-root) {
    display: flex !important;
    padding: 0 16px !important;
    justify-content: center !important;
    align-items: center !important;
    flex: 1 0 0 !important;
    align-self: stretch !important;
    color: var(--active-color-primary-light) !important;
    font-family: var(--font-family-primary), sans-serif !important;
    text-align: center !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    letter-spacing: 0.56px !important;
    text-transform: uppercase !important;
}

.mainTabs :global(.MuiButtonBase-root.MuiTab-root.Mui-selected) {
    display: flex !important;
    height: 48px !important;
    min-height: 48px !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 0 !important;
    flex: 1 0 0 !important;
    color: var(--text-primary) !important;
    background: #f3f3f3 !important;
}

.mainTabs :global(.MuiButtonBase-root.MuiTab-root:hover) {
    background: var(--active-secondary-color, #deebff) !important;
}

.mainTabs :global(.MuiTabs-indicator) {
    height: 2px !important;
    background-color: var(--active-color-primary-light) !important;
}
