.grayButton {
    display: flex !important;
    padding: 6px 0px !important;
    justify-content: center !important;
    align-items: center !important;
    align-self: stretch !important;
    border-radius: 3px !important;
    background-color: var(--button) !important;
    color: var(--selected-color) !important;
    text-align: center !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    text-transform: none !important;
    box-sizing: border-box !important;
    border: 2px solid transparent !important;
    width: 100% !important;
    max-height: 36px !important;
    &:hover {
        border: 2px solid #0f67eb !important;
        background: #237bff !important;
        color: #ffffff !important;
    }
    &:active {
        border: 2px solid transparent !important;
        border-radius: 3px !important;
        background: #0f67eb !important;
        color: #ffffff !important;
    }
    &:disabled {
        background-color: #f5f5f5 !important;
        color: #666666 !important;
    }
}
.blueButton {
    display: flex !important;
    padding: 6px 0px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    align-self: stretch !important;
    border-radius: 3px !important;
    background-color: #deebff !important;
    color: var(--selected-color) !important;
    text-align: center !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 140% !important;
    letter-spacing: 0.28px !important;
    text-transform: none !important;
    box-sizing: border-box !important;
    border: 2px solid transparent !important;
    max-height: 36px !important;
    &:hover {
        border: 2px solid #0f67eb !important;
        background: #deebff !important;
        color: #237bff !important;
    }
    &:active {
        border: 2px solid transparent !important;
        border-radius: 3px !important;
        background: #0f67eb !important;
        color: #ffffff !important;
    }
    &:disabled {
        background-color: #f5f5f5 !important;
        color: #666666 !important;
    }
}
.primaryButton {
    display: flex !important;
    padding: 6px 0px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    align-self: stretch !important;
    border-radius: 3px !important;
    background-color: #237bff !important;
    color: #fff !important;
    text-align: center !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 140% !important;
    letter-spacing: 0.28px !important;
    text-transform: none !important;
    box-sizing: border-box !important;
    border: 2px solid transparent !important;
    width: 100% !important;
    max-height: 36px !important;
    &:hover {
        border: 2px solid #0f67eb !important;
        background: #237bff !important;
        color: #fff !important;
    }
    &:active {
        border: 2px solid transparent !important;
        border-radius: 3px !important;
        background: #0f67eb !important;
        color: #ffffff !important;
    }
    &:disabled {
        background-color: #f5f5f5 !important;
        color: #666666 !important;
    }
}
.blueButtonWithIcon {
    padding: 6px 12px !important;
    justify-content: space-between !important;
    align-self: stretch !important;
    border-radius: 3px !important;
    background-color: #deebff !important;
    color: var(--selected-color) !important;
    fill: var(--selected-color) !important;
    text-align: center !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 140% !important;
    letter-spacing: 0.28px !important;
    text-transform: none !important;
    box-sizing: border-box !important;
    border: 2px solid transparent !important;
    max-height: 48px !important;
    min-height: 48px !important;
    &:hover {
        border: 2px solid #0f67eb !important;
        background: #deebff !important;
        color: #237bff !important;
    }
    &:active {
        border: 2px solid transparent !important;
        border-radius: 3px !important;
        background: #0f67eb !important;
        color: #ffffff !important;
    }
    &:disabled {
        background-color: #f5f5f5 !important;
        color: #666666 !important;
    }
}

.squareIconBtn {
    height: 36px !important;
    min-width: 48px !important;
    max-width: 48px !important;
    padding: 0px 12px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 6px !important;
    border-radius: 40px !important;
    border-width: 1px !important;
    border-style: solid !important;

    &.selected {
        height: 36px !important;
        min-width: 48px !important;
        max-width: 48px !important;
        padding: 0px 11px !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 6px !important;
        border-radius: 40px !important;
        border-width: 2px !important;
        border-style: solid !important;
    }
}

.squareIconBtnIcon {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-width: 24px !important;
    max-width: 24px !important;
}

.actionIcon {
    border-radius: 50% !important;
    transition: all 0.2s ease !important;
    background-color: transparent !important;
    & svg,
    & path {
        fill: var(--svg-icon-color);
        transition: fill 0.2s ease !important;
    }
}

.actionIcon .MuiTouchRipple-root {
    display: none !important;
}

.actionIcon::after {
    display: none !important;
}

.iconContainer {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    min-width: 24px !important;
    min-height: 24px !important;
}

.iconContainer .defaultIcon,
.iconContainer .activeIcon {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    transition: opacity 0.2s ease !important;
}

.iconContainer .activeIcon {
    opacity: 0 !important;
}

.actionIcon:hover .iconContainer .defaultIcon,
.actionIcon:active .iconContainer .defaultIcon,
.actionIconWithActive:hover .iconContainer .defaultIcon,
.actionIconWithActive:active .iconContainer .defaultIcon {
    opacity: 0 !important;
}

.actionIcon:hover .iconContainer .activeIcon,
.actionIcon:active .iconContainer .activeIcon,
.actionIconWithActive:hover .iconContainer .activeIcon,
.actionIconWithActive:active .iconContainer .activeIcon {
    opacity: 1 !important;
}
