.item {
    width: 360px !important;
    padding: 10px 16px !important;
    gap: 24px !important;
    min-height: 48px !important;
    max-height: 48px !important;
}
.icon {
    fill: var(--svg-icon-color) !important;
    min-width: 24px !important;
    max-width: 24px !important;
    &:hover {
        fill: var(--selected-color) !important;
        background-color: #f5f5f5 !important;
    }
}
.closeIcon {
    fill: var(--svg-icon-color) !important;
    padding: 8px;
    &:hover {
        fill: var(--selected-color) !important;
        background-color: #f5f5f5 !important;
    }
}
.title {
    max-height: var(--base-title-size) !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: var(--text-primary) !important;
}
.lang {
    color: var(--text-secondary) !important;
}
.dividerItem {
    margin-left: 64px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
.menuButtonContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 34px;
}
