.item {
    width: 360px !important;
    padding: 10px 16px !important;
    gap: 24px !important;
    min-height: 48px !important;
    max-height: 48px !important;
}
.icon {
    fill: var(--svg-icon-color) !important;
    min-width: 24px !important;
    max-width: 24px !important;
    &:hover {
        fill: var(--selected-color) !important;
        background-color: #f5f5f5 !important;
    }
}
.closeIcon {
    fill: var(--svg-icon-color) !important;
    padding: 8px;
    &:hover {
        fill: var(--selected-color) !important;
        background-color: #f5f5f5 !important;
    }
}
.title {
    max-height: var(--base-title-size) !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: var(--text-primary) !important;
}
.lang {
    .menuItem {
        color: #1c1e21 !important;
        font-weight: 500 !important;
        font-size: 16px !important;
        text-transform: none !important;
        font-family:
                system-ui,
                -apple-system,
                'Segoe UI' !important;
        letter-spacing: 0 !important;
        min-width: 10px !important;
        &:hover {
            color: var(--selected-color) !important;
            background-color: var(--background-color-menu) !important;
            box-shadow: none !important;
        }
    }
}
.menuButtonContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 34px;
}
