.productCard {
    display: flex !important;
    padding: 25px 0px 20px 0px !important;
    flex-direction: column !important;
    align-items: center !important;
    align-self: stretch !important;
    border-radius: 13px !important;
    border: 1px solid #ccc !important;
    background: #fff !important;
    max-width: 300px !important;
    box-shadow: none !important;
    flex: 0 0 auto !important;
}
.productCardTitle {
    color: var(--text-primary) !important;
    font-feature-settings: 'liga' off !important;
    font-family: Roboto !important;
    font-size: 30px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 120% !important;
    letter-spacing: 0.3px !important;
}
.productCardIcon {
    min-width: 36px !important;
    max-width: 36px !important;
}
.productCardFeatureIcon {
    min-width: 24px !important;
    max-width: 24px !important;
    margin-top: 3px !important;
}
.productCardFeature {
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
    gap: 16px !important;
    align-self: stretch !important;
    padding: 0 0px 0px 0px !important;
}
.productCardFeatureBox {
    display: flex !important;
    width: 260px !important;
    padding: 12px 0px 6px 0px !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 9px !important;
    margin-bottom: 16px !important;
}
.purchaseTypeCard {
    display: flex !important;
    width: 260px !important;
    padding: 12px 0px 12px 0px !important;
    gap: 3px !important;
    border-radius: 6px !important;
    border: 1px solid #ccc !important;
}
.purchaseTypeCardBox {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
    gap: 6px !important;
    align-self: stretch !important;
}
.purchaseTypeCardTitle {
    color: var(--text-primary) !important;
    font-feature-settings: 'liga' off !important;
    font-family: Roboto !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 150% !important;
    letter-spacing: 0.16px !important;
    margin-left: 16px !important;
}
.purchaseTypeCardNewPrice {
    color: #237bff !important;
    font-family: Roboto !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 140% !important;
}
.purchaseTypeCardOldPrice {
    color: #666 !important;
    font-family: Roboto !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 140% !important;
    text-decoration: line-through !important;
}
.productTypeSale {
    border-radius: 3px !important;
    background: #12b38b !important;
    display: flex !important;
    padding: 0px 3px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px !important;
    color: #fff !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 140% !important;
    letter-spacing: 0.28px !important;
    margin-left: 16px !important;
}
.pricingTitle {
    color: var(--text-primary) !important;
    text-align: center !important;
    font-feature-settings: 'liga' off !important;
    font-family: Roboto !important;
    font-size: 40px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 120% !important;
    letter-spacing: 0.4px !important;
    margin-top: 104px !important;
}
.pricingDesc {
    color: var(--text-secondary) !important;
    text-align: center !important;
    font-feature-settings: 'liga' off !important;
    font-family: Roboto !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 150% !important;
    letter-spacing: 0.16px !important;
    margin-top: 30px !important;
    margin-bottom: 36px !important;
    max-width: 1280px !important;
}
.pricingTableContainer {
    display: flex !important;
    width: 1280px !important;
    align-items: flex-start !important;
    flex-shrink: 0 !important;
    margin-bottom: 20px !important;
}

@media (max-width: 1300px) {
    .pricingTableContainer {
        display: block !important;
        width: 100% !important;
        overflow-x: auto !important;
        align-items: flex-start !important;
        flex-shrink: 0 !important;
        margin-bottom: 20px !important;
    }
}

.pricingTable {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    text-align: center;
    min-width: 640px;
    border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-bottom: none !important;
}

.categoryCell {
    border-bottom: none !important;
    color: var(--text-primary) !important;
    font-feature-settings: 'liga' off !important;
    font-family: Roboto !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 120% !important;
    letter-spacing: 0.48px !important;
}

.featureName {
    color: var(--text-primary) !important;
    font-feature-settings: 'liga' off !important;
    font-family: Roboto !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 150% !important;
    letter-spacing: 0.16px !important;
}

.featureDesc {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.6);
    color: var(--text-secondary) !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 140% !important;
    letter-spacing: 0.28px !important;
}

.featureCell {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkIcon {
    width: 20px;
    height: 20px;
}
.categoryTitle {
    color: var(--text-primary) !important;
    font-feature-settings: 'liga' off !important;
    font-family: Roboto !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 120% !important;
    letter-spacing: 0.48px !important;
}
.featureIcon {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}
.featureContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.planCell {
    text-align: center !important;
    width: 80px !important;
    min-width: 80px !important;
    max-width: 80px !important;
    white-space: nowrap !important;
    border-bottom: none !important;
}
.pricingTable tbody .planCell {
    position: relative;
}

.pricingTable tbody .planCell::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.12);
}
.featureWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}
.pricingBox {
    flex-grow: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: flex-start !important;
}
.pricingTable .MuiTableCell-root {
    border: none !important;
}
.pricingTable thead th:not(:last-child) {
    border-right: none !important;
    position: relative;
}
.pricingTable thead th:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 0;
    width: 1px;
    background-color: #ccc;
}
.pricingTable thead th {
    border-bottom: none !important;
    color: var(--text-primary) !important;
    font-feature-settings: 'liga' off !important;
    font-family: Roboto !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 120% !important;
    letter-spacing: 0.48px !important;
    padding-bottom: 0 !important;
}
.pricingTable tbody {
    border: none !important;
}
@media (max-width: 600px) {
    .featureWrapper {
        flex-direction: column !important;
        align-items: flex-start !important;
    }
    .featureIcon {
        margin-bottom: 8px !important;
    }
}
@media (max-width: 1300px) {
    .productCardBox {
        overflow-x: auto !important;
        display: flex !important;
        flex-direction: row !important;
        gap: 24px !important;
        width: 100vw !important;
        align-items: flex-start !important;
        flex-wrap: nowrap !important;
        margin-left: 48px !important;
    }
}
@media (min-width: 1301px) {
    .productCardBox {
        display: flex !important;
        flex-direction: row !important;
        gap: 24px !important;
        justify-content: center !important;
        flex-wrap: wrap !important;
    }
}

.featureRow .featureCell {
    position: relative;
    padding: 14px 16px;
    border-bottom: none;

}

.featureRow .featureCell::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 60px;
    right: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.12);
}
