.title {
    display: flex !important;
    width: 280px !important;
    padding: 24px 24px 16px 24px !important;
    align-items: flex-start !important;
    gap: 10px !important;
}
.content {
    display: flex !important;
    padding: 1px 24px !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    align-self: stretch !important;
}
.input {
    display: flex !important;
    height: 56px !important;
    padding: 16px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 16px !important;
    align-self: stretch !important;
    border-radius: 4px 4px 0px 0px !important;
    background: rgba(204, 204, 204, 0.3) !important;
    box-shadow: 0px -1px 0px 0px #b3b3b3 inset !important;
}
.button {
    display: flex !important;
    padding: 10px 8px !important;
    justify-content: center !important;
    align-items: center !important;
    color: #6e18e8 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    letter-spacing: 0.28px !important;
    text-transform: uppercase !important;
}
.contentText {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    letter-spacing: 0.25px !important;
    color: var(--text-secondary) !important;
    align-self: stretch !important;
    padding: 12px 0 !important;
}
/* 280px (.title width) + 24px * 2 (left/right padding from .title) */
.dialog :global(.MuiPaper-root) {
    max-width: 328px !important;
}
