.panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.list {
    flex: 1;
    overflow-y: auto;
    padding: 0;
}

.folderItem {
    min-height: 48px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 4px !important;
}

.arrowBox {
    width: 36px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowIcon {
    font-size: 24px !important;
}

.folderIconBox {
    min-width: 36px !important;
}

.folderSvg {
    width: 24px;
    height: 24px;
}

.folderName {
    flex: 1;
    font-size: 16px !important;
    color: var(--text-primary) !important;
    font-weight: 400 !important;
}

.folderNameSelected {
    flex: 1;
    font-size: 16px !important;
    color: var(--selected-color) !important;
    font-weight: 500 !important;
}

.folderCount {
    color: var(--text-secondary) !important;
    font-size: 14px !important;
    margin-right: 16px !important;
}

.addInsideBtn {
    padding: 4px 8px 4px 4px !important;
    color: var(--selected-color) !important;
}

.addInsideIcon {
    width: 24px;
    height: 24px;
    fill: var(--selected-color);
}

.radio {
    padding: 4px !important;
}

.addFolderInsideBtn {
    margin-right: 16px !important;
    & svg {
        fill: var(--selected-color) !important;
        width: 24px;
        height: 24px;
    }
}

.radioPlaceholder {
    width: 28px;
    flex-shrink: 0;
}
