@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (max-width: 900px) {
    .leaflet-container {
        /* Disabling selection of elements on the screen */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.MuiIconButton-root.Mui-disabled {
    fill: #b3b3b3 !important;
}

.MuiButton-root.Mui-disabled {
    background-color: #f0f0f0 !important;
}

.MuiAppBar-root {
    box-shadow:
        0px 3px 4px 0px rgba(0, 0, 0, 0.05),
        0px 1px 1px 0px rgba(0, 0, 0, 0.15) !important;
}
.MuiTypography {
    user-select: text !important;
}
.MuiMenuItem-root {
    user-select: text !important;
}
/* Changing the accent color of TextField inputs */
.MuiFilledInput-underline:after {
    border-bottom-color: #237bff !important; /* Underline color when focused */
    opacity: 1 !important;
    text-shadow: none !important;
    filter: none !important;
    transition: none !important;
    box-shadow: none !important;
}

.MuiFormLabel-root.Mui-focused {
    color: #237bff !important; /* Label color when focused */
    opacity: 1 !important;
    text-shadow: none !important;
    filter: none !important;
    transition: none !important;
}

.leaflet-control-zoom {
    background-color: transparent !important;
    border: none !important;
    padding-right: 10px !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    background-color: white !important;
    color: #4d4d4d !important;
    border-radius: 50% !important;
    border: 2px solid rgba(0, 0, 0, 0.1) !important;
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3) !important;
    margin-bottom: 10px !important;
    flex-shrink: 0 !important;
    box-sizing: border-box !important;
    font-size: 22px !important;
}
.leaflet-control-zoom-in {
    margin-bottom: 8px !important;
}

.leaflet-control-zoom-in span,
.leaflet-control-zoom-out span {
    margin-bottom: 3px !important;
    margin-right: 1px !important;
}

.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
    background-color: #dbdeff !important;
    color: #237bff !important;
}
