.poll {
  text-align: left;
  align-items: center;
}

.pollAnswer {
  margin: 10px 0px;
}

.pollAnswerPercent {
  font-weight: bold;
}

.pollAnswerProgressBg {
  background-color: #fff; 
  border: 1px solid #ddd;
  display: none;
}

.pollAnswerProgressFg {
  background-color: #3377ee; 
  height: 18px; 
  width: 33%
}

.pollSingleButton {
  flex:0 0 auto;
}

.pollButtons {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  padding: 15px
}