.alert {
    position: absolute;
    z-index: 2000;
    width: 300px !important;
    border-radius: 12px !important;
    background: #fff4e8 !important;
    float: right;
    margin-top: 80px !important;
    margin-right: 20px !important;
}
.alertBox {
    display: flex !important;
    width: 300px !important;
    padding: 4px 4px 16px 16px !important;
    align-items: flex-start !important;
    gap: 10px !important;
}
.alertText {
    flex: 1 0 0 !important;
    color: #e71d36 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 140% !important;
    letter-spacing: 0.28px !important;
    padding-top: 12px !important;
    align-items: flex-start !important;
    gap: 10px !important;
    max-width: 222px !important;
}
.alertButton {
    display: flex !important;
    padding: 12px !important;
    justify-content: center !important;
    align-items: flex-start !important;
    gap: 10px !important;
}
.promptText {
    flex-direction: column !important;
    text-align: left !important;
    min-width: auto !important;
    max-width: calc(100% - 50px) !important;
    margin-left: 16px !important;
    display: flex !important;
}
.promptTitle,
.promptDesc {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
.promptTitle {
    color: #1c1e21 !important;
    font-weight: 500 !important;
    font-size: 16px !important;
}
.promptDesc {
    color: var(--text-secondary) !important;
    font-size: 14px !important;
}
.graphTitle {
    color: var(--text-primary) !important;
    font-feature-settings: 'liga' off !important;
    font-family: Roboto !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 150% !important;
    letter-spacing: 0.16px !important;
}
.graphTitleBox {
    display: flex !important;
    padding: 0px 16px 0px 16px !important;
    align-items: center !important;
    gap: 6px !important;
    align-self: stretch !important;
}
.graphSelector {
    display: flex !important;
    padding: 16px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: flex-start !important;
    gap: 16px !important;
    width: 150px !important;
}
.graphIcon {
    fill: var(--svg-icon-color) !important;
    min-width: 24px !important;
    max-width: 24px !important;
}
.graphSelectorItem {
    display: flex !important;
    padding: 8px 0px 8px 0px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 16px !important;
    flex: 1 0 0 !important;
    align-self: stretch !important;
}
