.alert {
    position: absolute;
    z-index: 2000;
    width: 300px !important;
    border-radius: 12px !important;
    background: #fff4e8 !important;
    float: right;
    margin-top: 80px !important;
    margin-right: 20px !important;
}
.alertBox {
    display: flex !important;
    width: 300px !important;
    padding: 4px 4px 16px 16px !important;
    align-items: flex-start !important;
    gap: 10px !important;
}
.alertText {
    flex: 1 0 0 !important;
    color: #e71d36 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 140% !important;
    letter-spacing: 0.28px !important;
    padding-top: 12px !important;
    align-items: flex-start !important;
    gap: 10px !important;
    max-width: 222px !important;
}
.alertButton {
    display: flex !important;
    padding: 12px !important;
    justify-content: center !important;
    align-items: flex-start !important;
    gap: 10px !important;
}
