.appbar {
    background: #ffffff !important;
}
.toolbar {
    min-height: 40px !important;
    padding: 8px !important;
}
.icon {
    fill: var(--svg-icon-color) !important;
    min-width: 24px !important;
    max-width: 24px !important;
    &:hover {
        fill: var(--selected-color) !important;
        background-color: #f5f5f5 !important;
    }
}
.sortIcon {
    fill: var(--svg-icon-color) !important;
    padding: 8px;
    &:hover {
        fill: var(--selected-color) !important;
        background-color: #f5f5f5 !important;
    }
}
.title {
    flex-grow: 1;
    color: var(--text-primary) !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    letter-spacing: 0.18px !important;
    margin-left: 16px !important;
    margin-right: 16px !important;
}
.sortItem {
    color: var(--text-primary) !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 150% !important;
    letter-spacing: 0.16px !important;
    margin-left: 12px !important;
    margin-right: 20px !important;
}
.group {
    min-height: 68px !important;
    max-height: 68px !important;
    width: 360px !important;
    padding: 12px 16px !important;
    gap: 24px !important;
}
.groupAction {
    padding: 10px 16px !important;
    gap: 20px !important;
}
.iconGroupActions {
    min-width: 24px !important;
    fill: var(--svg-icon-color) !important;
    &:hover {
        fill: var(--selected-color) !important;
        background-color: #f5f5f5 !important;
    }
}
.groupName {
    color: var(--text-primary) !important;
}
.groupInfo {
    color: var(--text-secondary) !important;
}
.item {
    min-height: 68px !important;
    max-height: 68px !important;
    width: 360px !important;
    padding: 10px 16px !important;
    gap: 24px !important;
}
