.tracksSelectItem {
    padding: 12px 12px !important;
    gap: 16px !important;
    min-height: 48px !important;
    max-height: 48px !important;
}
.icon {
    fill: #727272 !important;
    min-width: 24px !important;
    max-width: 24px !important;
}
.segmentIcon {
    min-width: 24px !important;
    max-width: 24px !important;
}
.iconSelected {
    fill: #237bff !important;
    min-width: 24px !important;
    max-width: 24px !important;
}
.pointInput {
    padding-right: 0px !important;
    height: 56px !important;
}
.statItem {
    gap: 16px !important;
    min-height: 36px !important;
    max-height: 36px !important;
}
.statItemValue {
    color: var(--text-primary) !important;
    text-align: right !important;
    font-feature-settings: 'liga' off !important;
    font-family: 'Roboto Mono' !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 150% !important;
    letter-spacing: -0.16px !important;
}
.statItemValue2 {
    color: var(--text-secondary) !important;
    font-feature-settings: 'liga' off !important;
    font-family: 'Roboto Mono' !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 150% !important;
    letter-spacing: -0.12px !important;
}
.filter {
    width: 312px !important;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 6px 0px !important;
    border-radius: 3px !important;
    box-shadow:
        0px 5px 5px 0px rgba(0, 0, 0, 0.2),
        0px 3px 14px 0px rgba(0, 0, 0, 0.12),
        0px 8px 10px 0px rgba(0, 0, 0, 0.14),
        0px -3px 30px 0px rgba(0, 0, 0, 0.09) !important;
}
.filterTitle {
    display: flex !important;
    padding: 5px 4px 5px 16px !important;
    gap: 24px !important;
}
.filterTitleText {
    color: var(--text-secondary) !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
}
.filterItem {
    display: flex !important;
    padding: 0px 16px !important;
    justify-content: center;
    align-items: center;
    gap: 16px !important;
}
.filterIcon {
    min-width: 24px !important;
    fill: var(--svg-icon-color) !important;
}
.filterIconSelected {
    min-width: 24px !important;
    fill: var(--selected-color) !important;
}
.processingBlock {
    display: flex !important;
    padding: 24px 16px 16px 16px !important;
    flex-direction: column !important;
}
.errorTitle {
    color: var(--text-primary) !important;
    font-feature-settings: 'liga' off;
    font-family: Roboto !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 120% !important;
    letter-spacing: 0.16px !important;
}
.errorText {
    color: var(--text-primary) !important;
    font-feature-settings: 'liga' off;
    font-family: Roboto !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 150% !important;
    letter-spacing: 0.16px !important;
}
.errorIcon {
    fill: var(--svg-icon-color) !important;
    min-width: 24px !important;
    max-width: 24px !important;
}
