.tracksSelectItem {
    padding: 12px 12px !important;
    gap: 16px !important;
    min-height: 48px !important;
    max-height: 48px !important;
}
.icon {
    fill: #727272 !important;
    min-width: 24px !important;
    max-width: 24px !important;
}
.segmentIcon {
    min-width: 24px !important;
    max-width: 24px !important;
}
.iconSelected {
    fill: #237bff !important;
    min-width: 24px !important;
    max-width: 24px !important;
}
.pointInput {
    padding-right: 0px !important;
    height: 56px !important;
}
.statItem {
    gap: 16px !important;
    min-height: 36px !important;
    max-height: 36px !important;
}
.statItemValue {
    color: var(--text-primary) !important;
    text-align: right !important;
    font-feature-settings: 'liga' off !important;
    font-family: 'Roboto Mono' !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 150% !important;
    letter-spacing: -0.16px !important;
}
.statItemValue2 {
    color: var(--text-secondary) !important;
    font-feature-settings: 'liga' off !important;
    font-family: 'Roboto Mono' !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 150% !important;
    letter-spacing: -0.12px !important;
}
