.legendDay {
    background-color: #ebe7e4;
}

.legendNight {
    background-color: #121926;
}

@media(max-width: 800px) {
    .img {
        height: 36px;
        object-fit: cover;
    }
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 36px;
}

.table {
    width: 100%;
    table-layout: fixed;
}

table {
    display: table;
}

.svg svg{
        display: block;
        width: 100%;
        min-height: 36px;
        height: 100%;
}