.legendDay {
    background-color: #ebe7e4;
}

.legendNight {
    background-color: #121926;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    object-fit: cover;
}

.table {
    width: 100%;
    table-layout: fixed;
}

table {
    display: table;
}

.svg svg{
        display: block;
        width: 100%;
        min-height: 35px;
        height: 100%;
}