.logoIcon {
    fill: var(--svg-icon-color) !important;
    width: 72px !important;
    height: 72px !important;
    background: #f5f2f0;
    border-radius: 60px;
}
.icon {
    fill: var(--svg-icon-color) !important;
    width: 48px !important;
    height: 48px !important;
}
.closeIcon {
    fill: var(--svg-icon-color) !important;
    padding: 8px;
    &:hover {
        fill: var(--selected-color) !important;
        background-color: #f5f5f5 !important;
    }
}
.block {
    display: flex !important;
    padding: 24px 16px !important;
    flex-direction: column !important;
    align-items: center !important;
}
.loginText {
    color: var(--text-secondary) !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    cursor: pointer;
    padding: 4px 0px !important;
}
.title {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: var(--text-primary) !important;
}
.primaryButton {
    display: flex !important;
    padding: 6px 0px !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    align-self: stretch !important;
    border-radius: 3px !important;
    background-color: #237bff !important;
    color: #fff !important;
    text-align: center !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 140% !important;
    letter-spacing: 0.28px !important;
    text-transform: none !important;
    box-sizing: border-box !important;
    border: 2px solid transparent !important;
    width: 100% !important;
    &:hover {
        border: 2px solid #0f67eb !important;
        background: #237bff !important;
        color: #fff !important;
    }
    &:active {
        border: 2px solid transparent !important;
        border-radius: 3px !important;
        background: #0f67eb !important;
        color: #ffffff !important;
    }
    &:disabled {
        background-color: #f5f5f5 !important;
        color: #727272 !important;
    }
}
.errorBack {
    border-radius: 14px !important;
    background: #eef6f2 !important;
    display: flex !important;
    padding: 0px 10px !important;
    flex-direction: column !important;
    align-items: center !important;
    margin: 0px -10px !important;
}
