.iconDisabled {
    fill: #727272 !important;
    min-width: 24px !important;
    max-width: 24px !important;
}
.iconEnabled {
    fill: #237bff !important;
    min-width: 24px !important;
    max-width: 24px !important;
}
.item {
    width: 360px !important;
    padding: 10px 16px !important;
    gap: 24px !important;
    min-height: 48px !important;
    max-height: 48px !important;
}
.closeIcon {
    fill: var(--svg-icon-color) !important;
    padding: 8px;
    &:hover {
        fill: var(--selected-color) !important;
        background-color: #f5f5f5 !important;
    }
}
.title {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: var(--text-primary) !important;
}
.footer {
    background: #ffffff !important;
    top: auto !important;
    bottom: 0 !important;
    box-shadow:
        0px -3px 4px 0px rgba(0, 0, 0, 0.05),
        0px -1px 1px 0px rgba(0, 0, 0, 0.15) !important;
}
.buttonSelectAll {
    text-transform: none !important;
    background-color: var(--button) !important;
    color: var(--selected-color) !important;
    margin-left: 8px !important;
    &:disabled {
        background-color: #f5f5f5 !important;
        color: #727272 !important;
    }
}
.buttonApply {
    text-transform: none !important;
    background-color: var(--selected-color) !important;
    color: var(--button) !important;
    margin-right: 8px !important;
}
.poiCategoryItem {
    display: flex !important;
    padding: 5px 4px 5px 16px !important;
    justify-content: center;
    align-items: center;
    gap: 24px !important;
}
.poiCategoriesInfo {
    color: var(--text-secondary) !important;
}
.terrainInfo {
    color: var(--text-secondary) !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.colorSchemeTitleText {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: var(--text-primary) !important;
}
.terrainSliderTitle {
    color: var(--text-primary) !important;
    font-family: Roboto !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
}
.terrainSliderValue {
    color: var(--text-secondary) !important;
    font-family: Roboto !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
}
