.logoIcon {
    fill: var(--svg-icon-color) !important;
    width: 72px !important;
    height: 72px !important;
    background: #f5f2f0;
    border-radius: 60px;
}
.icon {
    fill: var(--svg-icon-color) !important;
    width: 48px !important;
    height: 48px !important;
}
.closeIcon {
    fill: var(--svg-icon-color) !important;
    padding: 8px;
    &:hover {
        fill: var(--selected-color) !important;
        background-color: #f5f5f5 !important;
    }
}
.block {
    display: flex !important;
    padding: 24px 16px !important;
    flex-direction: column !important;
    align-items: center !important;
}
.dialogBlock {
    display: flex !important;
    flex-direction: column !important;
    padding: 8px 20px !important;
    align-items: center !important;
}
.loginText {
    color: var(--text-secondary) !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    cursor: pointer;
    padding: 4px 0px !important;
}
.title {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: var(--text-primary) !important;
}
.errorBack {
    border-radius: 14px !important;
    background: #eef6f2 !important;
    display: flex !important;
    padding: 0px 10px !important;
    flex-direction: column !important;
    align-items: center !important;
    margin: 0px -10px !important;
}
.purchaseItem {
    display: flex !important;
    padding: 12px 16px 16px 16px !important;
    align-items: flex-start !important;
    gap: 24px !important;
    align-self: stretch !important;
}
.purchaseName {
    color: #237bff !important;
    font-feature-settings: 'liga' off !important;
    font-family: Roboto !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 150% !important;
    letter-spacing: 0.16px !important;
}
.purchaseInfo {
    color: #666 !important;
    font-family: Roboto !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 140% !important;
    letter-spacing: 0.28px !important;
}
.loginDialog {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.loginDialogPaper {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 400px !important;
    margin: 0 auto !important;
}
.loginDialogTitle {
    display: flex !important;
    width: 400px !important;
    height: 72px !important;
    padding: 20px 18px 16px 24px !important;
    justify-content: flex-end !important;
    align-items: flex-start !important;
    gap: 10px !important;
}
.loginDialogPaper,
.loginDialogTitle {
    box-sizing: border-box !important;
}
.loginDialogText {
    color: #212121 !important;
    font-feature-settings: 'liga' off !important;
    font-family: Roboto !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
    letter-spacing: 0.2px !important;
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
    flex: 1 0 0 !important;
    align-self: stretch !important;
}
.loginDialogIcon {
    display: flex !important;
    width: 36px !important;
    height: 36px !important;
    justify-content: center !important;
    align-items: center !important;
    flex-shrink: 0 !important;
    fill: var(--svg-icon-color) !important;
}
.loginDialogContent {
    padding: 0px 4px 20px 4px !important;
}
